one_robot
ca-certificates==2017.08.26
certifi==2017.11.5
libedit==3.1
libffi==3.2.1
libgcc-ng==7.2.0
libstdcxx-ng==7.2.0
ncurses==6.0
openssl==1.0.2n
pip==9.0.1
python==2.7.14
readline==7.0
setuptools==36.5.0
sqlite==3.20.1
tk==8.6.7
wheel==0.30.0 
zlib==1.2.11
NLTK==3.2.5
